<table class="table table-bordered table-condensed table-hover table-click">
    <thead>
    <tr>
        <th>Name</th>
        <th>Details</th>
        <th>Date registered</th>
        <th>Type</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngIf="loading()">
        <td colspan="5">
            Please wait loading ...
        </td>
    </tr>
    </tbody>
</table>
<nav *ngIf="currentPage > 0">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"></pagination>
</nav>